USE [Situacion_Financiera]
GO
/****** Object:  Trigger [dbo].[insertBancos]    Script Date: 4/10/2021 11:44:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================


ALTER TRIGGER [dbo].[insertBancos] on [Situacion_Financiera].[dbo].[tGastosFoto]
After insert 

AS 
BEGIN

		--declara variables
		

		SET NOCOUNT ON;

		declare @cuentaOrigen nvarchar (150)
		declare @catGasto nvarchar (150)
		declare @fecha date
		select @cuentaOrigen = cuentaOrigen from inserted i 	
		select @catGasto = cat_gasto from inserted i


		declare @cuentaDestino nvarchar(150), @cuentaBanco_destino nvarchar(150)
		select @cuentaDestino = cuentaDestino from inserted i

											

/*insertando primera tabla*/

		--declarando variables necesarias
		declare @monto money , @maxid int, @balanceAntesCambio money,@idOrigen int
		select @monto = MontoGasto from inserted i 

		--select @cuentaOrigen = bancoOrigen from inserted i
		declare @cuentaBanco nvarchar(150)

		-- poniendo el nombre que le corresponde en la tabla
		select @cuentaBanco = case 
									when @cuentaOrigen = 'BofA-TC-6930' then 'BofA-TC-6930'
									when @cuentaOrigen = 'WF-checking-1189106519' OR @cuentaOrigen = 'WF-TD-8167' then 'WF-Checking-6519'
									when @cuentaOrigen = 'WF-TC-38163' then 'WF-CC-8163'
									when @cuentaOrigen = 'Aspire-TC-8645' then 'Aspire-CC-8645'
									when @cuentaOrigen = 'Milestone-TC-6585' then 'Milestone-CC-6585'
									when @cuentaOrigen = 'CapOne-TC-6231' then 'CapOne-CC-6231' 
									when @cuentaOrigen = 'Premier-TC-7453' then 'PremierBank-CC-7453'
							  end 

		select @cuentaBanco_destino = case 
									when @cuentaDestino = 'BofA-TC-6930' then 'BofA-TC-6930'
									when @cuentaDestino = 'WF-checking-1189106519' OR @cuentaOrigen = 'WF-TD-8167' then 'WF-Checking-6519'
									when @cuentaDestino = 'WF-TC-38163' then 'WF-CC-8163'
									when @cuentaDestino = 'Aspire-TC-8645' then 'Aspire-CC-8645'
									when @cuentaDestino = 'Milestone-TC-6585' then 'Milestone-CC-6585'
									when @cuentaDestino = 'CapOne-TC-6231' then 'CapOne-CC-6231' 
									when @cuentaDestino = 'Premier-TC-7453' then 'PremierBank-CC-7453'
							  end 

		--viendo su saldo anterior

		declare @saldoAnterior float
		declare @saldoNuevo float

		select @saldoAnterior = saldo from [Situacion_Financiera].dbo.tSaldoBancos
		where cuentaBanco = @cuentaBanco
		and fecha = (select max(fecha) from [Situacion_Financiera].dbo.tSaldoBancos where cuentaBanco = @cuentaBanco)


		-- saldo nuevo (este sube o baja dependiendo si es chequera o tarjeta)
		if ISNULL(@saldoAnterior,-888888) = -888888 --dado que no encontro la categoria
		begin
			set @saldoAnterior = @saldoAnterior
		end
		else 
		begin 
					if @cuentaBanco = 'WF-Checking-6519'
					begin 
							select @saldoNuevo = @saldoAnterior - @monto
					end 
					else 
					begin 

							select @saldoNuevo = @saldoAnterior + @monto
					end 
		end 


		


		select @fecha = Fecha from inserted i
		select @idOrigen = id from inserted i
		
		select @maxid = max(id) + 1 from [Situacion_Financiera].dbo.tSaldoBancos
		--select @balanceAntesCambio = balance from  [Situacion_Financiera].[triggersBancos].[WF_checking_1269778096] where id = @maxid

		if isnull(@cuentaBanco,'esNulo') <> 'esNulo'
		begin
			insert into [Situacion_Financiera].dbo.tSaldoBancos values (@maxid,@fecha,@cuentaBanco,@monto,@saldoNuevo,@idOrigen)
		end 
		/*lo mismo pero para el destino*/
		declare @saldoAnterior2 float
		declare @saldoNuevo2 float

		select @saldoAnterior2 = saldo from [Situacion_Financiera].dbo.tSaldoBancos
		where cuentaBanco = @cuentaBanco_destino
		and fecha = (select max(fecha) from [Situacion_Financiera].dbo.tSaldoBancos where cuentaBanco = @cuentaBanco_destino)


		-- saldo nuevo (este sube o baja dependiendo si es chequera o tarjeta)
		if ISNULL(@saldoAnterior2,-888888) = -888888 --dado que no encontro la categoria
		begin
			set @saldoAnterior2 = @saldoAnterior2
		end
		else 
		begin 
					if @cuentaBanco_destino = 'WF-Checking-6519'
					begin 
							select @saldoNuevo2 = @saldoAnterior2 + @monto
					end 
					else 
					begin 

							select @saldoNuevo2 = @saldoAnterior2 - @monto
					end 
		end 

		/*termina para el destino*/
		select @maxid = max(id) + 1 from [Situacion_Financiera].dbo.tSaldoBancos


		if ISNULL(@cuentaBanco_destino,'esNulo')<>'esNulo'
		begin
			insert into [Situacion_Financiera].dbo.tSaldoBancos values (@maxid,@fecha,@cuentaBanco_destino,@monto,@saldoNuevo2,@idOrigen)
		end


		if @catGasto = 'Gastos para Madres'
		begin
				
				declare @madre nvarchar(150), @bancoOrigen nvarchar (250), 
				@dinero money, @fecha1 date, @numConf nvarchar (50), @descripcion nvarchar(max)

				select @madre = cat_especifica from inserted i
				select @dinero = MontoGasto from inserted i
				select @bancoOrigen = bancoOrigen from inserted i
				-- cuenta origen ya se definio 
				select @fecha1 = Fecha from inserted i 
				select @numConf = numConfirmacion from inserted i 
				select @descripcion = descripcion from inserted i

				insert into [Situacion_Financiera].dbo.gastosHijos values (
				
					@madre,
					@dinero,
					@bancoOrigen,
					@cuentaOrigen,
					@fecha1,
					@numConf,
					@descripcion				
					
				)
				

		end 


    -- Insert statements for trigger here

END
